*{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}
html, body {
    background-color:  #F7F7F7;
    height: 100%;
}
header {
    background-color: #2C4156;
    color: #F7F7F7;
    height: 100px;
    width: 100%;
    text-align: left;
    padding: 20px 0;
    display: inline-block;
}
header nav a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: #F7F7F7;
}
nav {
    text-align: right;
    position: absolute;
    right: 30px;
    top: 50px;
}
nav a:hover {
    color: #98A1AA;
}
header h1 {
    text-align: left;
    position: absolute;
    top: 50px;
    padding-left: 170px;
}

h1{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

h2{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.meu-nome{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
}


.foto-1{
    border-radius: 50%;
    border: 3px solid #F7F7F7;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    margin-left: 40px;
    
}

.foto-1 img{
    bottom: 0;
    width: 100%;
    
}

#sobre {
    position: relative;
    padding: 50px;
    background-color: #F7F7F7;
}

.sobre-texto {
    float: left;
    width: 50%;
    padding-right: 20px;
}

.sobre-texto h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sobre-texto p {
    font-size: 18px;
    color: #000000;
}

.foto-2-container {
    float: right;
    width: 45%; 
}

.foto-2 {
    width: 100%;
    height: auto;
}


#sobre::after {
    content: "";
    display: table;
    clear: both;
}
